.button-up {
  width: 40px;
  height: 40px;
  color: #ffc107;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  bottom: 30px;
  right: 20px;
  opacity: 0.7;

  border: 3px solid #ffc107;
  border-radius: 50%;

  transition-property: opacity;
  transition: 0.4s ease-in-out;
}

.button-up--hidden {
  display: none;
}

.button-up:hover {
  opacity: 1;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.button-up-icon {
  fill: currentColor;
}
